backend/.env
backend/node_modules
backend/uploads/avatars
backend/uploads/projects
backend/uploads/references
backend/uploads/introductionBooklet
backend/scripts


frontend/.env
frontend/build
frontend/node_modules
TASKS.md